root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{sln, slnx}]
end_of_line = unset


[*.{csproj, props, targets}]
end_of_line = unset


[*.cs]
indent_size = 4
tab_width = 4
indent_style = space
charset = utf-8-bom
end_of_line = unset
insert_final_newline = true


